.content{
  width: 80% ;
  height: 700px ;
  justify-content: center;
  align-items: center;
  background-color: rgb(190,190,190);;
  display: flex;
  margin: auto;
  border-width:black;
  margin-top: 50px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 60px;
  border-radius: 10%;
}

.card {
  background-color: lightgrey;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
  -webkit-box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
  box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login-card{
  width: 350px !important;
  height:  450px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 10px;
}

 .btn{
  margin-top: 30px;
  background-color: rgb(190,190,190);
}

.btn-login{
  width: 200px;
  height: 50px;
}


.contact{
  max-width: 500px;
  margin: 0 auto;
  padding:1rem;
}
.contact_form {
  display: flex;
  flex-direction: column;
}

.contact_form input,
.contact_form textarea,
.contact_form button {
  margin: 0.3rem 0.1rem 0;
  padding: 0.3rem;
}

.contact_form button {
  font-size: 1rem;
}

.blog-card {
  max-width: 350px !important;
  max-height: 450px !important;
  padding: 20px 60px;
  border-radius: 10%;
}

.posts{
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  object-fit: contain;
  margin: 25px;
  flex-wrap: wrap;

}
