.navbar{
  padding: 20px;
  background-color: grey;
}

.navlist {
  list-style: none;
       display: flex;
       padding: 0;
       margin: 0;
}

.navlist li {
      flex: auto;
      text-align: center;
      padding: 0.3em;
      margin: auto;
      font-size: 15px;
      color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.home li {
  margin-right: 40px;
}

.login li{
  margin-left: 20px;
}

.postlogin li {
  margin-left: 20px;
}

.architech{
  width: 150px;
  height:40px
}

.profile-img-navbar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profil-name{
  text-align: center;
  margin-bottom: 20px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 60px;
  border-radius: 10%;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
  -webkit-box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
  box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

label {
  display: block;
  margin-top: 10px;
}

 .btn{
  margin-top: 10px;
  background-color: lightgrey;
}

.btn-login{
  font-size: 90%;
}


.contact{
  max-width: 500px;
  margin: 0 auto;
  padding:1rem;
}
.contact_form {
  display: flex;
  flex-direction: column;
}

.contact_form input,
.contact_form textarea,
.contact_form button {
  margin: 0.3rem 0.1rem 0;
  padding: 0.3rem;
}

.contact_form button {
  font-size: 1rem;
}

.blog-card {
  max-width: 350px !important;
  padding: 20px 60px;
  border-radius: 10%;
}

.posts{
  margin-top: 50px;
  display: flex;
  align-items: baseline;

}