label {
  display: block;
  margin-top: 10px;
}

 .btn{
  margin-top: 10px;
  background-color: lightgrey;
}

.btn-login{
  font-size: 90%;
}

.navbar-brand {
  margin-left: 10px;
  color:white;
}

.navbar-expand{
  padding: 20px;
  z-index: 1;
  background-color: grey;
}

.nav-link {
  color: white;
}

.architech{
  height: 50px;
  width: 50px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 60px;
  border-radius: 10%;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
  -webkit-box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
  box-shadow: 0px 2px 2px rgba(108, 100, 100, 0.477);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.contact{
  max-width: 500px;
  margin: 0 auto;
  padding:1rem;
}
.contact_form {
  display: flex;
  flex-direction: column;
}

.contact_form input,
.contact_form textarea,
.contact_form button {
  margin: 0.3rem 0.1rem 0;
  padding: 0.3rem;
}

.contact_form button {
  font-size: 1rem;
}
